/* Reset some default styles */
body, h1, h2, p, img {
  margin: 0;
  padding: 0;
}

/* Styles for the card container */
.card-container {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;
  height: 50vh;
  padding: 20px 20px 20px 50px; /* Add padding for spacing, adjust left padding as needed */
}


/* Styles for the card */
.card {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  overflow: hidden;
  max-width: 540px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the card header (image and title) */
.card-header {
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-image {
  max-width: 36px;
  height: auto;
  border-radius: 50%;
  margin-right: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

/* Styles for the card content */
.card-content {
  padding: 1rem;
}

/* Styles for the card text */
.card-text {
  margin-bottom: 0.5rem;
}

/* Styles for the small text at the bottom of the card */
.card-meta {
  font-size: 0.875rem;
  color: #888;
}
