.storybook-header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c5adc5;
  color: #323232;
}

.storybook-header h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

.nav-link:hover {
  border-bottom: thin solid #323232;
  margin-left: 10px;
}

@media (max-width: 610px) {
  .storybook-header {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .storybook-header h1 {
    display: none;
  }
}
